/*
Original colors:

$light-grey: #eeeeee;
$pink: #e83a93;
$dark-grey: #777777;

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

@font-face {
  font-family: "Homizio Nova";
  src: url(../font/regular.ttf) format('truetype');
}

*/
@import 'variables';
@import 'universal';

#about {
  background: $light-grey;
 // padding: 100px 0 270px !important;

  img{
    display: none;
  }

  .left {
    padding-right: 0;
    text-align: center;
  }

  .btn {
    margin: 0 auto;
  }

  .btn {
    margin-left: -15px;
    margin-top: 18px;
    width: 228px;
    height: 77px;
    border-radius: 0;
    font-size: 1.36em;
    letter-spacing: 0.75px;
  }
}

#services {
  .row {
    padding-bottom: 50px;
  }

  article {
    // text-align: left;
    padding-top: 10px;

    p {
      padding: 10px;
    }

    .sm-diamond, .sm-diamond-selected {
      margin: 14px 40px 24px 0;
    }
  }
}

#methods {
  background: $dark-grey url("../img/methods_bg.png") no-repeat scroll center;
  background-size: cover;
  width: 100%;

  img {
    margin-top: 126px;
    margin-left: -123px;
    margin-right: -8px;
    max-width: 731px;
    width: 100%;
    height: 100%;
  }

  article:nth-of-type(1) {
    padding-top: 177px;
  }

  article {
    color: #fff;
    // text-align: left;
    padding-top: 40px;

    p {
      padding: 10px;
    }

    .sm-diamond, .sm-diamond-selected {
      margin: 14px 40px 24px 0;
    }

    .sm-diamond i, .sm-diamond-selected i {
      color: #fff;
    }

  }
}

#blog {
  background: $light-grey;

  article {
    background: #fff;
    max-width: 375px;
    padding: 0 20px 26px;
    border-bottom: 4px solid #fff;

    img {
      margin: 0 -20px;
    }

    h3 {
      padding: 20px 0 0 2px;
    }

    p {
      padding: 21px 2px 7px 2px;
    }

    i {
      color: $pink;
      font-size: 1.7em;
      padding-right: 10px;
    }

    span {
      letter-spacing: 0.75px;
      padding-left: 2px;
      padding-right: 45px;
    }
  }

  .btn {
    margin-left: 0;
    margin-top: 18px;
    width: 228px;
    height: 77px;
    border-radius: 0;
    font-size: 1.36em;
    letter-spacing: 0.75px;
    padding-left: 20px;
  }

  .row {
    padding-top: 77px;
    padding-bottom: 75px;
  }

  .col-lg {
    padding: 0;
  }

  .col-lg:nth-of-type(2) {
    margin: 0 24px;
  }

}

#skills {
  h2 {
    padding-bottom: 1em;
  }

  h3{
    margin: 1em 0;
  }

  .row {
    margin-left: -28px;
  }

  .col:nth-of-type(5) {
    margin-left: -4px;
    margin-right: -50px;
  }
}

#projects {
  background: $light-grey;

  h2 {
    padding-bottom: 110px;
  }

  img {
    max-width: 1090px;
    width: 100%;
    height: 100%;
  }
}

#newsletter {
  background: $dark-grey url("../img/newsletter_bg.png") no-repeat scroll center;
  background-size: cover;
  width: 100%;
  color: #fff;

  input {
    opacity: 0.2;
    font-style: italic;
    text-align: center;
    width: 85%;
    height: 100px;
    margin: 44px 0;
  }

  .btn {
    margin-top: 46px;
    margin-left: -9px;
    width: 228px;
    height: 77px;
    border-radius: 0;
    font-size: 1.36em;
    letter-spacing: 0.75px;
  }
}

#contact {
  form {
    margin-top: 92px;

    input[type=text] {
      display: block;
      width: 100%;
      background: #eeeeee;
      height: 89px;
      border: 0;
      margin: 0 0 50px 0;
      padding: 0 7px;
      font-size: 1.3em;
    }

    textarea {
      float: right;
      width: 100%;
      border: 0;
      background: #eeeeee;
      padding: 20px;
      font-size: 1.3em;
      height: 370px;
    }

    .btn {
      margin-top: 40px;
      width: 228px;
      height: 80px;
      border-radius: 0;
      font-size: 1.36em;
      letter-spacing: 0.75px;
    }
  }
}

footer {
  a {
    font-size: 2em;
    padding: 0 10px;
    text-decoration: none;
    color: $dark-grey;
  }

  p {
    font-size: 1.05em;
    padding: 62px 0;
  }
}

.diamond, .diamond-selected {
  @include diamond-base(175px);
  border: 3px solid $pink;
  margin: 50px 76px 50px 50px;
}

.diamond-selected {
  background-color: $pink;
}

.last {
  margin-right: 0;
}

.diamond p, .diamond-selected p {
  @include inner-diamond(165px);
  color: $pink;
  font-size: 1em;
}

.diamond-selected p {
  color: #fff;
}

.diamond p span, .diamond-selected p span {
  display: block;
  font-size: 2.4em;
  margin-bottom: 40px;
}

.sm-diamond {
  @include diamond-base(70px);
  border: 4px solid $light-grey;
}

.sm-diamond-selected {
  @include diamond-base(70px);
  border: 4px solid $pink;
}

.sm-diamond i, .sm-diamond-selected i {
  @include inner-diamond(70px);
  line-height: 2em;
  color: $pink;
  font-size: 1.4em;
}

.circle {
  width: 185px;
  height: 100px;
  line-height: 170px;
  border-top-right-radius: 185px;
  border-top-left-radius: 185px;

  color: #777777;
  text-align: center;
  border: 7px solid $dark-grey;
  font-size: 1.8em;
  border-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
}

#what {
  order: -4;
}

#about {
  order: -3;
}

#skills {
  order: -2;
}

#projects{
  order: -1;
}


.skillbar {
  margin-bottom: 30px;
}


.skillbar-title {
  color: #323232;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

meter {
  background: lightgrey;
  width: 100%;
  height: 3px;
}

meter::-webkit-meter-optimum-value {
  background: $pink;
}
meter:-moz-meter-optimum::-moz-meter-bar {
  background: $pink;
}


@import 'screens';
