/*
Original colors:

$light-grey: #eeeeee;
$pink: #e83a93;
$dark-grey: #777777;

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

@font-face {
  font-family: "Homizio Nova";
  src: url(../font/regular.ttf) format('truetype');
}

*/
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #777777;
}

h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}

p {
  font-size: 1em;
  line-height: 1.375em;
  letter-spacing: 0.75px;
}

a {
  color: #e83a93;
}

a:hover {
  color: #e83a93;
  text-decoration: underline;
}

h2 {
  font-size: 2.25em;
  line-height: 1.24em;
}
h2 span {
  color: #e83a93;
}

h3 {
  font-size: 1.75em;
  line-height: 1.25em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.22em;
}

label {
  display: none;
}

section {
  padding: 100px 0;
}

article {
  text-align: left;
}

.container {
  max-width: 1178px;
  width: 80%;
}

.btn {
  background-color: #e83a93;
  color: #fff;
}

#about {
  background: #eeeeee;
}
#about img {
  display: none;
}
#about .left {
  padding-right: 0;
  text-align: center;
}
#about .btn {
  margin: 0 auto;
}
#about .btn {
  margin-left: -15px;
  margin-top: 18px;
  width: 228px;
  height: 77px;
  border-radius: 0;
  font-size: 1.36em;
  letter-spacing: 0.75px;
}

#services .row {
  padding-bottom: 50px;
}
#services article {
  padding-top: 10px;
}
#services article p {
  padding: 10px;
}
#services article .sm-diamond, #services article .sm-diamond-selected {
  margin: 14px 40px 24px 0;
}

#methods {
  background: #777777 url("../img/methods_bg.png") no-repeat scroll center;
  background-size: cover;
  width: 100%;
}
#methods img {
  margin-top: 126px;
  margin-left: -123px;
  margin-right: -8px;
  max-width: 731px;
  width: 100%;
  height: 100%;
}
#methods article:nth-of-type(1) {
  padding-top: 177px;
}
#methods article {
  color: #fff;
  padding-top: 40px;
}
#methods article p {
  padding: 10px;
}
#methods article .sm-diamond, #methods article .sm-diamond-selected {
  margin: 14px 40px 24px 0;
}
#methods article .sm-diamond i, #methods article .sm-diamond-selected i {
  color: #fff;
}

#blog {
  background: #eeeeee;
}
#blog article {
  background: #fff;
  max-width: 375px;
  padding: 0 20px 26px;
  border-bottom: 4px solid #fff;
}
#blog article img {
  margin: 0 -20px;
}
#blog article h3 {
  padding: 20px 0 0 2px;
}
#blog article p {
  padding: 21px 2px 7px 2px;
}
#blog article i {
  color: #e83a93;
  font-size: 1.7em;
  padding-right: 10px;
}
#blog article span {
  letter-spacing: 0.75px;
  padding-left: 2px;
  padding-right: 45px;
}
#blog .btn {
  margin-left: 0;
  margin-top: 18px;
  width: 228px;
  height: 77px;
  border-radius: 0;
  font-size: 1.36em;
  letter-spacing: 0.75px;
  padding-left: 20px;
}
#blog .row {
  padding-top: 77px;
  padding-bottom: 75px;
}
#blog .col-lg {
  padding: 0;
}
#blog .col-lg:nth-of-type(2) {
  margin: 0 24px;
}

#skills h2 {
  padding-bottom: 1em;
}
#skills h3 {
  margin: 1em 0;
}
#skills .row {
  margin-left: -28px;
}
#skills .col:nth-of-type(5) {
  margin-left: -4px;
  margin-right: -50px;
}

#projects {
  background: #eeeeee;
}
#projects h2 {
  padding-bottom: 110px;
}
#projects img {
  max-width: 1090px;
  width: 100%;
  height: 100%;
}

#newsletter {
  background: #777777 url("../img/newsletter_bg.png") no-repeat scroll center;
  background-size: cover;
  width: 100%;
  color: #fff;
}
#newsletter input {
  opacity: 0.2;
  font-style: italic;
  text-align: center;
  width: 85%;
  height: 100px;
  margin: 44px 0;
}
#newsletter .btn {
  margin-top: 46px;
  margin-left: -9px;
  width: 228px;
  height: 77px;
  border-radius: 0;
  font-size: 1.36em;
  letter-spacing: 0.75px;
}

#contact form {
  margin-top: 92px;
}
#contact form input[type=text] {
  display: block;
  width: 100%;
  background: #eeeeee;
  height: 89px;
  border: 0;
  margin: 0 0 50px 0;
  padding: 0 7px;
  font-size: 1.3em;
}
#contact form textarea {
  float: right;
  width: 100%;
  border: 0;
  background: #eeeeee;
  padding: 20px;
  font-size: 1.3em;
  height: 370px;
}
#contact form .btn {
  margin-top: 40px;
  width: 228px;
  height: 80px;
  border-radius: 0;
  font-size: 1.36em;
  letter-spacing: 0.75px;
}

footer a {
  font-size: 2em;
  padding: 0 10px;
  text-decoration: none;
  color: #777777;
}
footer p {
  font-size: 1.05em;
  padding: 62px 0;
}

.diamond, .diamond-selected {
  height: 175px;
  width: 175px;
  text-align: center;
  line-height: 0;
  transform: rotate(45deg);
  border: 3px solid #e83a93;
  margin: 50px 76px 50px 50px;
}

.diamond-selected {
  background-color: #e83a93;
}

.last {
  margin-right: 0;
}

.diamond p, .diamond-selected p {
  height: 165px;
  width: 165px;
  transform: rotate(-45deg);
  line-height: 0;
  color: #e83a93;
  font-size: 1em;
}

.diamond-selected p {
  color: #fff;
}

.diamond p span, .diamond-selected p span {
  display: block;
  font-size: 2.4em;
  margin-bottom: 40px;
}

.sm-diamond {
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 0;
  transform: rotate(45deg);
  border: 4px solid #eeeeee;
}

.sm-diamond-selected {
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 0;
  transform: rotate(45deg);
  border: 4px solid #e83a93;
}

.sm-diamond i, .sm-diamond-selected i {
  height: 70px;
  width: 70px;
  transform: rotate(-45deg);
  line-height: 0;
  line-height: 2em;
  color: #e83a93;
  font-size: 1.4em;
}

.circle {
  width: 185px;
  height: 100px;
  line-height: 170px;
  border-top-right-radius: 185px;
  border-top-left-radius: 185px;
  color: #777777;
  text-align: center;
  border: 7px solid #777777;
  font-size: 1.8em;
  border-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
}

#what {
  order: -4;
}

#about {
  order: -3;
}

#skills {
  order: -2;
}

#projects {
  order: -1;
}

.skillbar {
  margin-bottom: 30px;
}

.skillbar-title {
  color: #323232;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

meter {
  background: lightgrey;
  width: 100%;
  height: 3px;
}

meter::-webkit-meter-optimum-value {
  background: #e83a93;
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: #e83a93;
}

@media screen and (min-width: 1243px) {
  h1 {
    font-size: 3em;
    line-height: 1.05em;
    color: #fff;
  }
  h1 span {
    color: #e83a93;
  }

  p {
    padding: 50px 0;
  }

  .navbar-brand, .navbar-toggler {
    display: none;
  }

  header {
    background: #fff url("../img/clean_header_bg.png") no-repeat scroll center;
    background-size: cover;
    width: 100%;
    height: 990px;
    /*
    #sqrs li {
      display: inline-block;
      margin: 19px;
      padding: 0;
    }
    */
  }
  header h1 {
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari 3-8 */
    transform: rotate(-45deg);
    position: relative;
    top: 440px;
    left: -320px;
  }
  header nav {
    font-size: 1.5em;
  }
  header #nav-design {
    margin: 0 auto;
    position: relative;
  }
  header .sqr {
    width: 160px;
    height: 160px;
    padding: 0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    display: inline-block;
    border: #fff solid 3px;
    background: rgba(125, 125, 125, 0.3);
  }
  header .sqr:hover {
    background: #e83a93;
  }
  header #sqrs a {
    margin: 0 auto;
    padding: 0;
  }
  header #sqrs a:hover {
    color: #fff;
  }
  header .sqr-txt {
    color: #fff;
    display: table-cell;
    height: 160px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  header #sqrs > li:nth-child(1) {
    position: relative;
    left: 196px;
    top: 124px;
  }
  header #sqrs > li:nth-child(2) {
    position: relative;
    left: 252px;
    top: 124px;
  }
  header #sqrs > li:nth-child(3) {
    position: relative;
    left: 86px;
    top: 346px;
  }
  header #sqrs > li:nth-child(4) {
    position: relative;
    left: -195px;
    top: 463px;
  }
  header #sqrs > li:nth-child(5) {
    position: relative;
    left: -127px;
    top: 464px;
  }
  header #sqrs > li:nth-child(6) {
    position: relative;
    left: -71px;
    top: 464px;
  }
  header #sqrs > li:nth-child(7) {
    position: relative;
    left: -120px;
    top: 345px;
  }
  header #sqrs > li:nth-child(8) {
    position: relative;
    left: -402px;
    top: 227px;
  }
  header #sqsr ul {
    margin: 0 auto;
    list-style: none;
  }
  header a:hover {
    color: #000;
  }
  header svg {
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari 3-8 */
    transform: rotate(-45deg);
  }
  header svg:nth-of-type(1) {
    position: relative;
    left: 261px;
    top: 40px;
  }
  header svg:nth-of-type(2) {
    position: relative;
    left: -36px;
    top: 380px;
  }
  header svg:nth-of-type(3) {
    position: relative;
    left: 253px;
    top: 406px;
  }
  header svg:nth-of-type(4) {
    position: relative;
    left: -70px;
    top: 685px;
    transform: rotate(45deg);
  }
  header svg:nth-of-type(5) {
    position: relative;
    left: 3px;
    top: 710px;
  }
  header svg:nth-of-type(6) {
    position: relative;
    left: 84px;
    top: 470px;
  }
  header svg:nth-of-type(7) {
    position: relative;
    top: 618px;
    left: 131px;
    transform: rotate(45deg);
  }
  header svg:nth-of-type(8) {
    position: relative;
    left: -75px;
    top: 285px;
  }
  header svg:nth-of-type(9) {
    position: relative;
    left: -440px;
    top: 155px;
    transform: rotate(45deg);
  }

  #about .left {
    text-align: left;
    padding-top: 6px;
    margin-left: -15px;
    padding-bottom: 22px;
    padding-right: 580px;
  }
  #about img {
    display: block;
    margin-top: 19px;
    margin-left: -10px;
    max-width: 575px;
    width: 100%;
    height: 100%;
  }
}
/*
@media screen and (max-width: 1242px) {

  #about {
    .left {
      padding-right: 0;
      text-align: center;
    }

    img {
      display: none;
    }

    .btn {
      margin: 0 auto;
    }
  }

  #team {
    width: 100%;
  }

  #methods {
    background-image: none;
    padding: 0 0 200px;

    img {
      display: none;
    }
  }

  #blog{
    .col-md-6:nth-of-type(3) {
      padding-top: 50px;
    }
  }

  #skills p{
    text-align: left;
    padding-left: 10%
  }

  #newsletter{
    background-image: none;
  }
}
*/
@media screen and (min-width: 769px) {
  .col-md-12 {
    padding: 50px 0;
  }
}
@media screen and (min-width: 576px) {
  #blog article {
    width: 100%;
  }
  #blog img {
    display: none;
  }

  #team {
    width: 100%;
  }

  #methods {
    background-image: none;
    padding: 0 0 200px;
  }
  #methods img {
    display: none;
  }

  #blog .col-md-6:nth-of-type(3) {
    padding-top: 50px;
  }

  #skills p {
    text-align: left;
    padding-left: 10%;
  }

  #newsletter {
    background-image: none;
  }
}

/*# sourceMappingURL=main.css.map */
